
.header {
    height: 80px;
    background-color: bisque;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoWrapper {
    flex-grow: 2;
    height: 100%;
}

.logo {
    height: 80px;
    width: 120px;
}

.searchWrapper {
    display: flex;
    height: 40px;
    flex-grow: 5;
}

.search-wrapper > input{
    width: 90%;
}